
body{
  background-color:black;
  margin:auto;
}
h1{
  color:green;
  background-color:black;
  text-align:center;
}
h2{
  background-color:black;
  color:green;
  text-align:center;
  width:300px;
  margin:auto;
}
h3{
  color:black;
  text-align:center;
  width:300px;
  margin:auto
}
img{
  height: 20%;
  width: 20%;
}
#profile{
  background-color:#4d704d;
}

p{
  font-family:sans-serif;
  
}

.about-me{
  width:80%;
  float:right;
  

}
.column{

  display:flex;
}
.edu{
  background-color:gray;
}
#backg, #moring{
  width:50%
}#portf{
  width:80%;
  background-color:#4d704d;
}
#sidebar{
  width:20%;
  float:right;
  background-color:#4d704d;
  border:2px solid black;
}
#r{
  background-color:black;
  width:720px;
}
.pad{
  padding-left:10px;
  padding-right:10px;
}